{% extends 'base.html' %}
{% load static %}
{% block title %}
탐색페이지
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/compact-gallery.css' %}"rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" href="{% static 'css/horizontal.css' %}"rel="stylesheet" type="text/css" /> 
{% endblock %}
{% block content %}

<body>

    <!-- optional hero image  -->

<!--     <div class="hero-image">
        <img class="img-fluid" src="https://source.unsplash.com/1600x900/?profile,Photographer" alt="Photographer">
        <div class="hero-text">
            <p>Your Photography Studios</p>
            mailto:
            <button id="mailto">
                <a href="mailto:photographyStudios@yourStudioName.net?Subject=Photography%Appointments" target="_top">
                    < Appointments />
                </a>
            </button>
        </div>
    </div> -->
<div>
    <p class="fs-2" style="margin-left: 100px; margin-top: 20px;">탐색</p>
</div>

{% for c in ctg.all %}
<!-- HORIZONTAL SCROLLING  -->
{% if c.photomodel_set.all %}
<a name="horizontal-scrolling"></a>
<h5 style="margin: 10px 0px 0px 50px;">{{c.name}}</h5>

<div id="scroll">
{% for photo in c.photomodel_set.all %}
    <a method="GET" href="{% url 'photo:img_info' photo.id %}">
    <img src="{{ photo.img.url }}" style="height : 150px; margin-top : 30px;">
    {% endfor %}
    </a>
</div>    
{% endif %}


{% endfor %}


    <footer>
        &copy; B4 After
        <a href="#top">Go to top</a>
    </footer>

    <!-- local script file  -->
    <script>
        baguetteBox.run('.compact-gallery', { animation: 'slideIn' });

    </script>

</body>

{% endblock %}