{% extends 'base.html' %}

{% block title %}
즐겨찾기 페이지
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .image_container {
        position: absolute;
        left: 5%;
        width: 90%;
        margin-top: 30px;
    }
</style>

<body>

<div class="image_container">

<!-- {% for f in favorit %} -->
    {% for p in photo %}
        {% if p.img %}
            <a method="GET" href="/img_info/{{ p.id }}">
                <img src="{{ p.img.url }}" style="height : 150px; margin-top : 30px;">
            </a>
        {% endif %}
    {% endfor %}
<!-- {% endfor %} -->

</div>
</body>
</html>

{% endblock %}
