{% extends 'base.html' %}

{% block title %}
휴지통 페이지
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trash Photos</title>
</head>

<style>
    .image_container {
        position: absolute;
        left: 5%;
        width: 90%;
        margin-top: 30px;
    }

    a {
        text-decoration-line: none;
    }
    
</style>


<body>

<div>
    <p class="fs-2" style="margin-left: 100px; margin-top: 20px;">휴지통</p>
</div>

<div class="image_container">
    {% for j in trash_img %}

        {% if j.trash_img %}
            <a method="GET" href="/restore/{{ j.id }}">
                <img src="{{ j.trash_img.url }}" style="height : 150px; margin-top : 30px; cursor: pointer;">
            </a>
        {% endif %}

    {% endfor %}
</div>

</body>

{% endblock %}