<!DOCTYPE html>
<html lang="en">

<head>
    <title>photo</title>
</head>

<body>
    <div>
        <form method="post" action="{% url 'photo:upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="imgfile">
            <input type="submit" value="업로드">
        </form>
    </div>

</body>

</html>


<body>
    <div id="modal_add_feed" class="modal_overlay">
        <div class="modal_window">
            <div class="modal_title">
                <div class="modal_title_side"></div>
                <div> 이미지 업로드 </div>
                <div class="modal_title_side">
                    <a href="/">
                        close
                    </a>
                </div>
            </div>
            <div class="modal_image_upload">
                <div class="modal_image" id="image_container" style="width: 100px; height:100px;">
                </div>
                <div class="modal_in_image_upload">
                    <form method="post" action="{% url 'photo:upload' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="imgfile" id="image" accept="image/*" onchange="setThumbnail(event);"/>
                        <input type="submit" value="업로드">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setThumbnail(event) {
          var reader = new FileReader();
  
          reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div#image_container").appendChild(img);
          };
  
          reader.readAsDataURL(event.target.files[0]);
        }
      </script>
</body>